.category-1 {
    background-color: red;
}

.category-2 {
    background-color: blue;
}

.category-3 {
    background-color: green;
}

.category-4 {
    background-color: orange;
}

.category-5 {
    background-color: purple;
}

.category-1,
.category-2,
.category-3,
.category-4,
.category-5,
.timer {
    font-size: .75rem;
}

.category-1,
.category-2,
.category-3,
.category-4,
.category-5 {
    padding: .25rem;
    color: white;
}

.errorMessage {
    font-size: 13px;
    font-style: italic;
    color: red;
}

.card-dark {
    box-shadow: 0 0.25rem 1rem #961c44;
    border-color: #961c44 !important;
}

.card-light {
    box-shadow: 0 0.25rem 1rem lightgrey;
}

h5{
    text-justify: auto;
    background-color: rgba(0,0,0,0.6);
    padding: 10%;
    font-size: 1.1rem;
}

.carouselSize{
    height: 15rem;
}