@font-face {
    font-family: "'D-DIN-Condensed'";
    src: url("../D-DIN-Condensed.ttf.woff") format("woff");
}

* {
    font-family: "'D-DIN-Condensed'";
}

.link-category-1::after,
.category-1 {
    background-color: red;
}

.link-category-2::after,
.category-2 {
    background-color: blue;
}

.link-category-3::after,
.category-3 {
    background-color: green;
}

.link-category-4::after,
.category-4 {
    background-color: orange;
}

.link-category-5::after,
.category-5 {
    background-color: purple;
}

.category-1,
.category-2,
.category-3,
.category-4,
.category-5,
.timer {
    font-size: .75rem;
}

.category-1,
.category-2,
.category-3,
.category-4,
.category-5 {
    padding: .25rem;
    color: white;
}

.errorMessage {
    font-size: 13px;
    font-style: italic;
    color: red;
}

.card-dark {
    box-shadow: 0 .0625rem .5rem #961c44;
    border-color: transparent !important;
}

.card-light {
    box-shadow: 0 0.625rem 1rem lightgrey;
    border-color: transparent !important;
}

.titreCarroussel {
    text-justify: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10%;
    font-size: 1.1rem;
    border-radius: 0.3rem;
}

.carrouselSize {
    height: 30rem;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .carrouselSize {
        height: 17rem;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.nav-link {
    position: relative;
    z-index: 0;
}

.nav-link::after {
    content: "";
    display: block;
    width: .5rem;
    height: .5rem;
    z-index: -1;
    border-radius: 100%;
    position: absolute;
    bottom: .5rem;
    right: .25rem;
}

.logo {
    max-width: 5rem;
}